.PreOrder_preOrderContainer__YYRwg {
  background-color: #fdfdfd;
  overflow-y: scroll
}

@media (min-width:1024px) {
  .PreOrder_preOrderContainer__YYRwg {
    display: flex;
    justify-content: flex-end;
    overflow: hidden
  }
}

.Introduction_container__VtJX_ {
  margin-top: 6em;
  margin-bottom: 6.4em;
  width: 90%;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  color: #575349
}

.Introduction_container__VtJX_ svg {
  margin-bottom: 1.2em;
  width: 2.5em
}

.Introduction_container__VtJX_ h1 {
  margin-bottom: .3em;
  font-size: 3.15em;
  font-family: Youth;
  font-weight: 500;
  letter-spacing: -.05em
}

.Introduction_container__VtJX_ div {
  display: flex;
  justify-content: center
}

.Introduction_container__VtJX_ p {
  margin-bottom: 2.1em;
  font-family: Aeonik;
  font-size: 1.48em;
  width: 93%;
  color: #a39b8b;
  font-weight: 400;
  letter-spacing: -.01em
}

.Introduction_container__VtJX_ a {
  text-decoration: underline
}

.Introduction_container__VtJX_ button {
  font-family: Aeonik Fono;
  color: #a39b8b;
  text-transform: uppercase;
  text-decoration: underline;
  text-underline-offset: .2em;
  letter-spacing: .05em;
  font-size: 1.2em;
  font-weight: 400;
  cursor: pointer
}

@media (min-width:1024px) {
  .Introduction_container__VtJX_ {
    margin-bottom: 6.5em
  }

  .Introduction_container__VtJX_ svg {
    margin-bottom: 1em
  }

  .Introduction_container__VtJX_ h1 {
    margin-bottom: .65em;
    font-size: 3.35em
  }

  .Introduction_container__VtJX_ p {
    font-size: 1.43em;
    width: 70%;
    margin-bottom: 0
  }

  .Introduction_container__VtJX_ button {
    font-size: 1.08em
  }
}

.ConfigurationSection_container__Ha22G {
  width: 90%;
  margin-bottom: 1.75em
}

.ConfigurationSection_titleContainer__McrPj {
  display: flex;
  align-items: center;
  gap: 1em;
  margin-bottom: .72em
}

.ConfigurationSection_titleContainer__McrPj h2 {
  color: #575349;
  font-size: 2.5em;
  font-family: Youth;
  font-weight: 500;
  letter-spacing: -.05em;
  flex-grow: 1;
  flex-shrink: 1
}

.ConfigurationSection_cta__29N4q {
  flex-grow: 0;
  flex-shrink: 0
}

.ConfigurationSection_container__Ha22G>h2 span {
  font-family: Aeonik Fono;
  text-transform: uppercase;
  text-decoration: underline;
  color: #a39b8b;
  letter-spacing: .03em;
  font-weight: 400;
  font-size: .48em;
  text-underline-offset: .3em;
  cursor: pointer
}

.ConfigurationSection_colorSectionsContainer__UKEPY {
  display: flex;
  flex-direction: column;
  width: 100%
}

.ConfigurationSection_currentColorInfosContainer__cvRGA {
  display: flex;
  justify-content: space-between;
  margin-bottom: 1.5em
}

.ConfigurationSection_currentColorInfosContainer__cvRGA>h3 {
  font-family: Aeonik;
  color: #575349;
  font-weight: 500;
  font-size: 1.3em
}

.ConfigurationSection_currentColorInfosContainer__cvRGA>span {
  font-family: Aeonik;
  color: #a9a7a3;
  font-weight: 500;
  font-size: 1.3em
}

.ConfigurationSection_colorOptionsContainer__Aka_k {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  width: 100%;
  padding: 1em;
  border: 1px solid #e4e3e2;
  border-radius: .5em;
  gap: 1.5em;
  margin-bottom: 1em
}

@media (min-width:1024px) {
  .ConfigurationSection_container__Ha22G>h2 {
    margin-bottom: .66em;
    font-size: 2.4em
  }

  .ConfigurationSection_currentColorInfosContainer__cvRGA {
    margin-top: 1em
  }

  .ConfigurationSection_colorOptionsContainer__Aka_k {
    padding: 2em 1.5em
  }
}

.PriceBar_container__Po9aP {
  position: fixed;
  z-index: 99;
  bottom: 0;
  left: 0;
  width: 100%;
  padding: 1.35em;
  border-top: 1px solid #eeece8;
  background-color: #fdfdfd;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 1.15em
}

.PriceBar_infosContainer__nf1ie {
  width: 100%;
  margin-bottom: 1.6em;
  display: flex;
  justify-content: space-between;
  align-items: center
}

.PriceBar_infosProd__jt0_e {
  font-family: Aeonik;
  display: flex;
  flex-direction: column;
  justify-content: space-between
}

.PriceBar_infosProd__jt0_e>div {
  display: flex;
  align-items: flex-start;
  gap: .5em
}

.PriceBar_infosProd__jt0_e>div>div {
  display: flex;
  flex-direction: column
}

.PriceBar_infoDeliveryCTA__degOt {
  width: 1.7em;
  transform: translateY(-12.5%);
  cursor: pointer
}

.PriceBar_infosProd__jt0_e p {
  color: #a9a7a3;
  font-size: 1.025em
}

.PriceBar_infosProd__jt0_e>div>div>span {
  color: #575249;
  font-size: 1.3em
}

.PriceBar_price__Ssj27 {
  font-family: Youth;
  font-size: 2.6em;
  display: flex;
  align-items: center;
  color: #575349
}

@media (min-width:1024px) {
  .PriceBar_container__Po9aP {
    left: 65.3%;
    width: 32.9%;
    padding-top: 2em;
    padding-bottom: 2em
  }
}

.Button_buttonsContainer__mreC4 {
  width: 100%;
  display: flex;
  justify-content: space-between
}

.Button_estPaymentButton__HXf9_ {
  padding: 2.1em;
  width: 49%;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid #d7d1c6;
  border-radius: .5em;
  color: #575349;
  font-family: Aeonik Fono;
  font-weight: 100;
  font-size: .9em;
  text-align: center;
  text-transform: uppercase
}

.Button_estPaymentButton__HXf9_ svg {
  width: 10%;
  margin-right: .6em
}

.Button_checkoutAndOrderButtonContainer__NIfoq,
.Button_checkoutAndOrderButton__7VA_F {
  width: 100%;
  padding: 2.1em;
  display: flex;
  justify-content: center;
  text-transform: uppercase;
  font-family: Aeonik Fono;
  font-weight: 100;
  font-size: .9em
}

.Button_checkoutAndOrderButton__7VA_F {
  align-items: center;
  border: 1px solid #a39b8b;
  background-color: #a39b8b;
  border-radius: .5em;
  color: #f2efe9;
  text-align: center
}

.Button_checkoutAndOrderButton__7VA_F[disabled] {
  opacity: .5
}

@media (min-width:1024px) {
  .Button_estPaymentButton__HXf9_ {
    padding: 1.9em
  }
}

.Configurator_container__ZkAKC {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 30.5em;
  padding-bottom: 12em
}

.Configurator_overlayCTA__FYeJH {
  font-family: Aeonik Fono;
  text-transform: uppercase;
  text-decoration: underline;
  color: #a39b8b;
  letter-spacing: .03em;
  font-weight: 400;
  font-size: 1.152em;
  text-underline-offset: .3em;
  cursor: pointer
}

.Configurator_productDescription__mCsqH {
  width: 92%;
  color: #a39b8b;
  letter-spacing: -.01em;
  font-family: Aeonik;
  font-weight: 400;
  font-size: 1.57em;
  margin-bottom: 5.5em;
  line-height: 150%
}

.Configurator_productDescription__mCsqH a {
  text-decoration: underline
}

.Configurator_currentColorInfosContainer__WZJll {
  display: flex;
  justify-content: space-between;
  margin-bottom: 1.5em
}

.Configurator_currentColorInfosContainer__WZJll>h3 {
  font-family: Aeonik;
  color: #575349;
  font-weight: 500;
  font-size: 1.3em
}

.Configurator_currentColorInfosContainer__WZJll>span {
  font-family: Aeonik;
  color: #a9a7a3;
  font-weight: 500;
  font-size: 1.3em
}

.Configurator_currentColorDescription__CFaND {
  font-family: Aeonik;
  color: #a9a7a3;
  font-size: 1.3em;
  margin-bottom: 1.5em;
  width: 75%;
  line-height: 140%
}

@media (max-width:768px) {
  .Configurator_container__ZkAKC {
    font-size: .8em
  }
}

@media (max-width:540px) {
  .Configurator_container__ZkAKC {
    font-size: .8em
  }
}

@media (max-width:480px) {
  .Configurator_container__ZkAKC {
    font-size: .7em
  }
}

@media (max-width:415px) {
  .Configurator_container__ZkAKC {
    font-size: .6em
  }
}

@media (max-width:375px) {
  .Configurator_container__ZkAKC {
    font-size: .5em
  }
}

@media (max-width:320px) {
  .Configurator_container__ZkAKC {
    font-size: .45em
  }
}

@media (min-width:1024px) {
  .Configurator_container__ZkAKC {
    position: relative;
    padding-top: 1.9em;
    min-width: 36.527%;
    width: 36.527%;
    overflow: hidden;
    font-size: .455em
  }

  .Configurator_productDescription__mCsqH {
    width: 89.35%;
    font-size: 1.4em;
    margin-bottom: 5.5em;
    line-height: 150%
  }

  .Configurator_currentColorInfosContainer__WZJll {
    margin-top: 1em
  }
}

@media (min-width:1280px) {
  .Configurator_container__ZkAKC {
    font-size: .6em
  }
}

@media (min-width:1440px) {
  .Configurator_container__ZkAKC {
    font-size: .67em
  }
}

@media (min-width:1680px) {
  .Configurator_container__ZkAKC {
    font-size: .79em
  }
}

@media (min-width:1920px) {
  .Configurator_container__ZkAKC {
    font-size: .81em
  }
}

@media (min-width:2500px) {
  .Configurator_container__ZkAKC {
    font-size: 1.06em
  }
}

@media (min-width:3200px) {
  .Configurator_container__ZkAKC {
    font-size: 1.4em
  }
}

.CustomerPortalCheckbox_container__6ZJCy {
  display: grid;
  grid-template-columns: auto 1fr auto;
  grid-template-rows: auto auto;
  gap: 1em;
  padding: 1em;
  margin-bottom: 1em;
  border: 1px solid #e4e3e2;
  border-radius: .4em;
  font-size: 1.3em
}

.CustomerPortalCheckbox_checkbox__aCu6K[type=checkbox] {
  visibility: hidden
}

.CustomerPortalCheckbox_mainCheckbox__NWjgP {
  position: relative;
  cursor: pointer;
  font-size: 1.7em;
  height: 1.2em;
  width: 1.2em;
  grid-column: 1/2;
  grid-row: 1/2
}

.CustomerPortalCheckbox_mainCheckbox__NWjgP input[type=checkbox] {
  visibility: hidden
}

.CustomerPortalCheckbox_checkboxContainer__5xlaP {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: transparent;
  border: 1px solid #d0cbc3;
  border-radius: 2px
}

.CustomerPortalCheckbox_mainCheckbox__NWjgP input:checked~.CustomerPortalCheckbox_checkboxContainer__5xlaP {
  background-color: #d0cbc3
}

.CustomerPortalCheckbox_checkboxContainer__5xlaP:after {
  content: "";
  position: absolute;
  display: none;
  left: 50%;
  top: 50%;
  width: .17em;
  height: .4em;
  border: solid #fff;
  border-width: 0 1px 1px 0;
  transform: translate(-50%, -50%) rotate(45deg)
}

.CustomerPortalCheckbox_mainCheckbox__NWjgP input:checked~.CustomerPortalCheckbox_checkboxContainer__5xlaP:after {
  display: block
}

.CustomerPortalCheckbox_label__UGrCp {
  color: #575349;
  align-self: center;
  font-family: Aeonik;
  font-size: 1.15em;
  cursor: pointer
}

.CustomerPortalCheckbox_price__YTeiM {
  grid-column: 3/4;
  grid-row: 1/2;
  color: #a9a7a3;
  align-self: center;
  font-family: Aeonik;
  font-size: 1.15em
}

.CustomerPortalCheckbox_description__8irAA {
  grid-column: 2/4;
  grid-row: 2/3;
  color: #a9a7a3;
  font-family: Aeonik;
  font-size: 1.105em
}

.CustomerPortalCheckbox_description__8irAA a {
  text-decoration: underline;
  cursor: pointer
}

@media (min-width:1024px) {
  .CustomerPortalCheckbox_container__6ZJCy {
    gap: .6em;
    padding: 1.3em;
    margin-bottom: 1.1em
  }

  .CustomerPortalCheckbox_mainCheckbox__NWjgP {
    height: 1.1em;
    width: 1.1em
  }

  .CustomerPortalCheckbox_label__UGrCp {
    font-size: 1.05em
  }

  .CustomerPortalCheckbox_description__8irAA {
    grid-column: 2/3;
    font-size: 1.09em;
    text-underline-offset: .15em
  }

  .CustomerPortalCheckbox_overlayContainer__mWijy {
    font-size: .77em
  }
}

.ColorRadioGroup_root__7fEUD {
  display: flex;
  justify-content: flex-start;
  width: 100%;
  padding: 1em;
  border: 1px solid #e4e3e2;
  border-radius: .5em;
  gap: 1.5em;
  margin-bottom: 1em
}

.ColorRadioGroup_option__o_9Zx {
  border-radius: .5em;
  border: 1px solid #a9a7a3;
  overflow: clip;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 9.5em;
  aspect-ratio: 1/1;
  cursor: pointer
}

.ColorRadioGroup_option__o_9Zx img {
  width: 100%;
  height: 100%;
  transition: all .2s linear
}

.ColorRadioGroup_option__o_9Zx[aria-checked=true] img {
  width: 90%;
  height: 90%
}

.ColorRadioGroup_option__o_9Zx[aria-disabled=true] {
  cursor: default
}

@media (min-width:1024px) {
  .ColorRadioGroup_root__7fEUD {
    padding: 2em 1.5em
  }

  .ColorRadioGroup_option__o_9Zx img {
    border-radius: .5em
  }
}

.Carousel_carousel__cxmDM {
  align-items: center;
  justify-content: center;
  position: relative
}

.Carousel_carousel__cxmDM,
.Carousel_slidesContainer__Qrtdp {
  width: 100%;
  height: 100%;
  display: flex
}

.Carousel_dotsContainer__FQo_n {
  position: absolute
}

.Carousel_dots__WqlaT {
  display: flex;
  align-items: center
}

.Carousel_dot__u_2ZE {
  opacity: .5
}

.Carousel_dot__u_2ZE,
.Carousel_selectedDot__Go240 {
  cursor: pointer;
  border: 0;
  margin: .3em;
  border-radius: 50%;
  background-color: #fff
}

.CarouselOverlay_slideContainer__LWsUg {
  height: 91.5%;
  padding-left: .25em;
  padding-right: .25em;
  padding-top: .85em;
  display: flex;
  align-items: center;
  justify-content: center
}

.CarouselOverlay_slideCover__vs8xK {
  width: 100%;
  justify-content: center;
  overflow: hidden
}

.CarouselOverlay_slideCover__vs8xK,
.CarouselOverlay_slide__tYSJ6 {
  height: 100%;
  display: flex;
  align-items: center;
  border-top-left-radius: .5em;
  border-top-right-radius: .5em
}

.CarouselOverlay_slide__tYSJ6 {
  width: 91.2vw;
  background-color: #fdfdfd;
  cursor: grab;
  flex-direction: column;
  overflow-y: auto;
  scrollbar-width: none;
  -ms-overflow-style: none
}

.CarouselOverlay_slide__tYSJ6::-webkit-scrollbar {
  display: none
}

.CarouselOverlay_imageContainer__dQKZF {
  border-top-left-radius: .5em;
  border-top-right-radius: .5em;
  width: 100%;
  min-width: 100%;
  height: 27.2em;
  display: flex;
  justify-content: center;
  overflow: hidden;
  margin-bottom: 6em;
  position: relative;
  background-position: 50%;
  background-size: cover;
  background-repeat: no-repeat
}

.CarouselOverlay_mobileClosureButton__KcnBy {
  position: absolute;
  width: 4.7em;
  aspect-ratio: 1/1;
  right: .4em;
  top: .4em;
  border-radius: .35em;
  background-color: #fdfdfd;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer
}

.CarouselOverlay_mobileClosureButton__KcnBy span {
  position: absolute;
  width: 1em;
  aspect-ratio: 1/.09;
  background-color: #575349
}

.CarouselOverlay_mobileClosureButton__KcnBy span:first-child {
  transform: rotate(45deg)
}

.CarouselOverlay_mobileClosureButton__KcnBy span:nth-child(2) {
  transform: rotate(-45deg)
}

.CarouselOverlay_infosContainer__zCxX_ {
  width: 100%;
  flex-direction: column
}

.CarouselOverlay_iconContainer__l2Psx,
.CarouselOverlay_iconCover__Rzioe,
.CarouselOverlay_infosContainer__zCxX_ {
  display: flex;
  align-items: center;
  justify-content: center
}

.CarouselOverlay_iconContainer__l2Psx {
  border: 1px solid #d5d5d3;
  min-height: 3.5em;
  aspect-ratio: 1/1;
  border-radius: 1em;
  margin-bottom: 1.8em
}

.CarouselOverlay_iconContainer__l2Psx img {
  min-width: 1.8em;
  width: 1.8em
}

.CarouselOverlay_title__peKq4 {
  font-family: Youth;
  color: #575349;
  letter-spacing: -.05em;
  font-weight: 500;
  font-size: 2.5em;
  width: 70%;
  text-align: center;
  margin-bottom: .7em
}

.CarouselOverlay_content__xNM25 {
  font-family: Aeonik;
  color: #a5a39f;
  letter-spacing: .01em;
  font-weight: 500;
  font-size: 1.05em;
  width: 75%;
  text-align: center;
  margin-bottom: 1em
}

@media (min-width:1024px) {
  .CarouselOverlay_slideContainer__LWsUg {
    padding-top: 0;
    margin-top: 15.3em;
    height: 62.6%;
    padding-left: 1.41em;
    padding-right: 1.41em
  }

  .CarouselOverlay_slide__tYSJ6 {
    min-height: 62.6vh;
    min-width: 60.416vw;
    height: 62.6vh;
    width: 60.416vw;
    border-radius: 1em;
    flex-direction: row
  }

  .CarouselOverlay_slideCover__vs8xK {
    border-radius: 1em
  }

  .CarouselOverlay_imageContainer__dQKZF {
    height: 100%;
    margin-bottom: 0;
    width: 62.29%;
    min-width: 62.29%;
    border-top-left-radius: 0;
    border-top-right-radius: 0
  }

  .CarouselOverlay_mobileClosureButton__KcnBy {
    display: none
  }

  .CarouselOverlay_desktopClosureButton__9xyw_ {
    position: absolute;
    aspect-ratio: 1/1;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    background-color: #efede9;
    width: 5.18em;
    right: .97em;
    top: 1.55em;
    border-radius: .5em
  }

  .CarouselOverlay_desktopClosureButton__9xyw_ span {
    position: absolute;
    aspect-ratio: 1/.09;
    background-color: #575349;
    width: 1.15em
  }

  .CarouselOverlay_desktopClosureButton__9xyw_ span:first-child {
    transform: rotate(45deg)
  }

  .CarouselOverlay_desktopClosureButton__9xyw_ span:nth-child(2) {
    transform: rotate(-45deg)
  }

  .CarouselOverlay_infosContainer__zCxX_ {
    width: 37.71%;
    min-width: 37.71%;
    height: 100%;
    position: relative
  }

  .CarouselOverlay_iconCover__Rzioe {
    min-height: 4.2em;
    height: 4.2em;
    margin-bottom: 2em
  }

  .CarouselOverlay_iconContainer__l2Psx {
    border-radius: .5em;
    margin-bottom: 0;
    min-height: 4.2em;
    height: 4.2em;
    overflow: hidden
  }

  .CarouselOverlay_title__peKq4 {
    font-size: 3em;
    width: 80%;
    letter-spacing: -.045em
  }

  .CarouselOverlay_content__xNM25 {
    font-size: 1.22em;
    line-height: 142%;
    color: #a9a7a3;
    width: 80%;
    margin-bottom: 0
  }
}

.PreOrderImageCarousel_container__uhFg9 {
  position: fixed;
  z-index: 99;
  top: 0;
  left: 0;
  height: 26em;
  width: 100%;
  padding-top: .5em;
  padding-left: .5em;
  padding-right: .5em;
  background-color: #fdfdfd
}

.PreOrderImageCarousel_carouselContainer__BpvCG {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #efede8;
  border-radius: .5em;
  overflow: hidden;
  cursor: grab
}

.PreOrderImageCarousel_homeButton__YUmo0 {
  width: 4em;
  top: 1.8em;
  aspect-ratio: 1/1;
  position: absolute;
  z-index: 99;
  background-color: #fdfdfd;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: .5em;
  left: 50%;
  transform: translateX(-50%);
  cursor: pointer
}

.PreOrderImageCarousel_homeButton__YUmo0 svg {
  width: 35%
}

.PreOrderImageCarousel_slides__ECyBi {
  position: relative
}

.PreOrderImageCarousel_slide__TXagO,
.PreOrderImageCarousel_slides__ECyBi {
  flex: 0 0 100%;
  min-width: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden
}

.PreOrderImageCarousel_slide__TXagO,
.PreOrderImageCarousel_slide__TXagO img {
  position: absolute;
  height: 100%;
  width: 100%
}

.PreOrderImageCarousel_slide__TXagO img {
  min-width: 100%;
  min-height: 100%;
  -o-object-fit: cover;
  object-fit: cover
}

@media (min-width:1024px) {
  .PreOrderImageCarousel_container__uhFg9 {
    position: fixed;
    z-index: 99;
    top: 0;
    left: 0;
    height: 100vh;
    width: 63.473vw;
    padding: .6em;
    background-color: #fdfdfd;
    font-size: .68em
  }

  .PreOrderImageCarousel_homeButton__YUmo0 {
    width: 3.45em;
    top: 1.2em;
    left: 1.2em;
    transform: translateX(0)
  }
}

@media (min-width:1280px) {
  .PreOrderImageCarousel_container__uhFg9 {
    font-size: .9em
  }
}

@media (min-width:1440px) {
  .PreOrderImageCarousel_container__uhFg9 {
    font-size: 1em
  }
}

@media (min-width:1680px) {
  .PreOrderImageCarousel_container__uhFg9 {
    font-size: 1.18em
  }
}

@media (min-width:1920px) {
  .PreOrderImageCarousel_container__uhFg9 {
    font-size: 1.21em
  }
}

@media (min-width:2500px) {
  .PreOrderImageCarousel_container__uhFg9 {
    font-size: 1.58em
  }
}

@media (min-width:3200px) {
  .PreOrderImageCarousel_container__uhFg9 {
    font-size: 2.09em
  }
}

.ImageCarousel_container__lGR9_ {
  position: fixed;
  z-index: 99;
  top: 0;
  left: 0;
  height: 26em;
  width: 100%;
  padding-top: .5em;
  padding-left: .5em;
  padding-right: .5em;
  background-color: #fdfdfd
}

.ImageCarousel_carouselContainer__J5GvY {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #efede8;
  border-radius: .5em;
  overflow: hidden;
  cursor: grab
}

.ImageCarousel_slides__HbgZx {
  position: relative
}

.ImageCarousel_slide__qKUCR,
.ImageCarousel_slides__HbgZx {
  flex: 0 0 100%;
  min-width: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden
}

.ImageCarousel_slide__qKUCR,
.ImageCarousel_slide__qKUCR img {
  position: absolute;
  height: 100%;
  width: 100%
}

.ImageCarousel_slide__qKUCR img {
  min-width: 100%;
  min-height: 100%;
  -o-object-fit: cover;
  object-fit: cover
}

.ImageCarousel_colorImg__4LiJt {
  opacity: 0;
  scale: 1.3
}

.ImageCarousel_homeButton__jlQA9 {
  width: 4em;
  top: 1.8em;
  aspect-ratio: 1/1;
  position: absolute;
  z-index: 99;
  background-color: #fdfdfd;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: .5em;
  left: 50%;
  transform: translateX(-50%);
  cursor: pointer
}

.ImageCarousel_homeButton__jlQA9 svg {
  width: 35%
}

@media (min-width:1024px) {
  .ImageCarousel_container__lGR9_ {
    position: fixed;
    z-index: 99;
    top: 0;
    left: 0;
    height: 100vh;
    width: 63.473vw;
    padding: .6em;
    background-color: #fdfdfd;
    font-size: .68em
  }

  .ImageCarousel_homeButton__jlQA9 {
    width: 3.45em;
    top: 1.2em;
    left: 1.2em;
    transform: translateX(0)
  }
}

@media (min-width:1280px) {
  .ImageCarousel_container__lGR9_ {
    font-size: .9em
  }
}

@media (min-width:1440px) {
  .ImageCarousel_container__lGR9_ {
    font-size: 1em
  }
}

@media (min-width:1680px) {
  .ImageCarousel_container__lGR9_ {
    font-size: 1.18em
  }
}

@media (min-width:1920px) {
  .ImageCarousel_container__lGR9_ {
    font-size: 1.21em
  }
}

@media (min-width:2500px) {
  .ImageCarousel_container__lGR9_ {
    font-size: 1.58em
  }
}

@media (min-width:3200px) {
  .ImageCarousel_container__lGR9_ {
    font-size: 2.09em
  }
}

.Summary_summaryContainer__9s_yc {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 12.5em;
  padding-bottom: 15em;
  min-height: 100vh
}

.Summary_previousButton__Jd6ye {
  position: absolute;
  width: 6em;
  aspect-ratio: 1/1;
  background-color: #eeedea;
  border-radius: .5em;
  top: 1.5em;
  left: 1.5em;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer
}

.Summary_previousButton__Jd6ye svg {
  width: 30%
}

.Summary_titleContainer__NhY3H {
  width: 92%;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: Youth;
  color: #575349;
  margin-bottom: 5.2em
}

.Summary_titleContainer__NhY3H h1 {
  letter-spacing: -.05em;
  font-weight: 500;
  font-size: 3.1em
}

.Summary_titleContainer__NhY3H svg {
  width: 2.7em;
  margin-bottom: 1em
}

.Summary_summary__crtTb {
  width: 92%;
  border-radius: .5em;
  padding: 4.85em 1.5em 2.55em;
  display: flex;
  flex-direction: column;
  background-color: #eeece8;
  margin-bottom: 2.55em
}

.Summary_summary__crtTb h3 {
  color: #575349;
  font-family: Youth;
  letter-spacing: -.035em;
  font-weight: 500;
  font-size: 2.6em;
  text-align: center
}

.Summary_forecastQuarter__m4VZ4 {
  color: #575349;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: .7em;
  cursor: pointer
}

.Summary_forecastQuarter__m4VZ4 span:first-child {
  display: flex;
  border: 1px solid #d8d5d1;
  border-radius: 100%;
  width: 1.9em;
  height: 1.9em;
  align-items: center;
  justify-content: center;
  font-family: Aeonik
}

.Summary_forecastQuarter__m4VZ4 span:nth-child(2) {
  font-size: 1.5em;
  font-weight: 400;
  font-family: PPNeueMontreal-Medium
}

.Summary_financingCTA__y_S8D {
  color: #a39b8b;
  font-family: Aeonik, sans-serif;
  font-size: 1.5em;
  line-height: 1.3;
  text-decoration: underline
}

.Summary_separateLine__YhJeq {
  height: 1px;
  background-color: #e0ddd7;
  margin-bottom: 3em
}

.Summary_optionsList___tYY1 {
  list-style: none;
  padding-left: 0
}

.Summary_optionsList___tYY1 li {
  width: 100%;
  display: flex;
  justify-content: space-between;
  font-family: Aeonik;
  color: #61574e;
  letter-spacing: -.01em;
  margin-bottom: 1.3em;
  font-weight: 400;
  font-size: 1.58em
}

.Summary_optionsList___tYY1 li:last-child {
  margin-bottom: 0
}

.Summary_paymentInfosContainer__pA2AD {
  width: 92%
}

.Summary_paymentInfosButtonContainer__4SufB {
  width: 100%;
  display: flex;
  justify-content: space-between;
  margin-bottom: 2em
}

.Summary_paymentInfosButtonContainer__4SufB button {
  width: 48%;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: .5em;
  padding: 2.2em;
  letter-spacing: .09em;
  text-transform: uppercase;
  font-weight: 400;
  cursor: pointer
}

.Summary_paymentInfosButtonContainer__4SufB button:first-child {
  font-family: Aeonik;
  background-color: #a39b8b;
  color: #f2efe9
}

.Summary_paymentInfosButtonContainer__4SufB button:nth-child(2) {
  font-family: FTPolarMono;
  border: 1px solid #d7d1c6;
  color: #575349
}

.Summary_monthlyPaymentContainer__2_8kf {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 1em;
  font-family: Aeonik;
  color: #61574e;
  font-weight: 500;
  letter-spacing: -.01em;
  font-size: 1.35em
}

.Summary_monthlyPaymentContainer__2_8kf>div {
  display: flex;
  align-items: center;
  gap: .5em
}

.Summary_monthlyPaymentContainer__2_8kf>div svg {
  width: 1.3em
}

.Summary_depositContainer__A_5z1 {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 3em;
  font-family: Aeonik;
  color: #61574e;
  font-weight: 500;
  letter-spacing: -.01em;
  font-size: 1.35em
}

.Summary_depositContainer__A_5z1>div {
  display: flex;
  align-items: center;
  gap: .5em
}

.Summary_depositContainer__A_5z1>div>button {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 100%;
  border: 1px solid #e4e3e2;
  width: 1.6em;
  aspect-ratio: 1/1;
  font-size: .8em;
  cursor: pointer
}

.Summary_overlayContainer__GYqE6 {
  font-size: 1.3em
}

@media (max-width:768px) {
  .Summary_summaryContainer__9s_yc {
    font-size: .8em
  }
}

@media (max-width:540px) {
  .Summary_summaryContainer__9s_yc {
    font-size: .8em
  }
}

@media (max-width:480px) {
  .Summary_summaryContainer__9s_yc {
    font-size: .7em
  }
}

@media (max-width:415px) {
  .Summary_summaryContainer__9s_yc {
    font-size: .6em
  }
}

@media (max-width:375px) {
  .Summary_summaryContainer__9s_yc {
    font-size: .5em
  }
}

@media (max-width:320px) {
  .Summary_summaryContainer__9s_yc {
    font-size: .45em
  }
}

@media (min-width:1024px) {
  .Summary_summaryContainer__9s_yc {
    position: relative;
    padding-top: 7.9em;
    padding-bottom: 15em;
    min-width: 36.527%;
    width: 36.527%;
    overflow: hidden;
    font-size: .455em
  }

  .Summary_titleContainer__NhY3H h1 {
    font-size: 3.3em
  }

  .Summary_titleContainer__NhY3H svg {
    width: 2.4em;
    margin-bottom: 1.2em
  }

  .Summary_titleContainer__NhY3H {
    margin-bottom: 6.7em
  }

  .Summary_summary__crtTb {
    width: 90%;
    border-radius: .8em;
    padding: 4.5em 2em;
    text-align: center;
    margin-bottom: 2.5em
  }

  .Summary_summary__crtTb h3 {
    font-size: 2.35em
  }

  .Summary_forecastQuarter__m4VZ4 span:nth-child(2) {
    font-size: 1.35em
  }

  .Summary_paymentInfosContainer__pA2AD {
    width: 90%
  }

  .Summary_paymentInfosButtonContainer__4SufB div {
    padding: 2em;
    width: 49%
  }

  .Summary_monthlyPaymentContainer__2_8kf {
    margin-bottom: 1.3em;
    font-size: 1.4em
  }

  .Summary_depositContainer__A_5z1 {
    margin-bottom: 3em;
    font-size: 1.4em
  }

  .Summary_overlayContainer__GYqE6 {
    font-size: .995em
  }
}

@media (min-width:1280px) {
  .Summary_summaryContainer__9s_yc {
    font-size: .6em
  }
}

@media (min-width:1440px) {
  .Summary_summaryContainer__9s_yc {
    font-size: .67em
  }
}

@media (min-width:1680px) {
  .Summary_summaryContainer__9s_yc {
    font-size: .79em
  }
}

@media (min-width:1920px) {
  .Summary_summaryContainer__9s_yc {
    font-size: .81em
  }
}

@media (min-width:2500px) {
  .Summary_summaryContainer__9s_yc {
    font-size: 1.06em
  }
}

@media (min-width:3200px) {
  .Summary_summaryContainer__9s_yc {
    font-size: 1.4em
  }
}

.ExpandableSection_root__g4LAm {
  width: 92%;
  border: 1px solid #e6e4e3;
  border-radius: .5em;
  display: flex;
  flex-direction: column;
  position: relative;
  overflow: hidden;
  margin-bottom: 1.5em
}

@media (min-width:1024px) {
  .ExpandableSection_root__g4LAm {
    width: 90%
  }
}

.ExpandableSection_summary__Ls_jK {
  min-height: 7.3em;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-left: 1.3em;
  padding-right: 1.3em;
  cursor: pointer;
  z-index: 99
}

@media (min-width:1024px) {
  .ExpandableSection_summary__Ls_jK {
    min-height: 6.57em;
    padding-left: 1.8em;
    padding-right: 1.8em
  }
}

.ExpandableSection_summary__Ls_jK h2 {
  font-family: Youth;
  font-weight: 100;
  color: #61574e;
  letter-spacing: -.02em;
  font-size: 1.55em
}

@media (min-width:1024px) {
  .ExpandableSection_summary__Ls_jK h2 {
    font-size: 1.4em
  }
}

.ExpandableSection_summary__Ls_jK div {
  display: flex;
  align-items: center;
  justify-content: center
}

.ExpandableSection_summary__Ls_jK div span {
  height: .1em;
  width: 1em;
  background-color: #575349
}

.ExpandableSection_summary__Ls_jK div span:first-child {
  position: absolute;
  transform: rotate(90deg)
}

.ExpandableSection_content__WJoT_ {
  position: absolute;
  top: 100%;
  width: 100%;
  padding: 1em 1em .2em
}

.ExpandableSummary_optionsList__z0F8c {
  list-style: none
}

.ExpandableSummary_optionsList__z0F8c li {
  width: 100%;
  display: flex;
  justify-content: space-between;
  font-family: Aeonik;
  color: #61574e;
  letter-spacing: -.01em;
  margin-bottom: 1.8em;
  font-weight: 400;
  font-size: 1.35em
}

.ContactForm_contactFormContainer__OT8Wc {
  display: flex;
  flex-direction: column;
  margin-bottom: 4em
}

.ContactForm_contactFormContainer__OT8Wc>h2 {
  font-family: Youth;
  color: #61574e;
  letter-spacing: -.04em;
  font-weight: 500;
  font-size: 2.1em;
  margin-bottom: .8em
}

.ContactForm_inputNamesContainer__N4Kb0 {
  display: flex;
  justify-content: space-between;
  margin-bottom: 1em
}

.ContactForm_inputNamesContainer__N4Kb0 input {
  width: 48.5%;
  padding-top: 1.35em;
  padding-bottom: 1.35em
}

.ContactForm_contactFormContainer__OT8Wc>input {
  margin-bottom: .75em;
  padding-top: 1.55em;
  padding-bottom: 1.55em
}

.ContactForm_contactFormContainer__OT8Wc input {
  padding-left: 1em;
  padding-right: 1em;
  border-radius: .5em;
  border: 1px solid #d6d4d1;
  font-family: Aeonik;
  color: #61574e;
  font-size: 1.3em;
  outline: none
}

.ContactForm_contactFormContainer__OT8Wc input::-moz-placeholder {
  color: #61574e
}

.ContactForm_contactFormContainer__OT8Wc input::placeholder {
  color: #61574e
}

.ContactForm_phoneInput__z2fLP {
  border-top-left-radius: 0 !important;
  border-top-right-radius: 0 !important;
  border-top-width: 0 !important
}

@media (min-width:1024px) {
  .ContactForm_contactFormContainer__OT8Wc {
    margin-bottom: 3em
  }

  .ContactForm_contactFormContainer__OT8Wc>h2 {
    margin-bottom: .68em
  }

  .ContactForm_contactFormContainer__OT8Wc input {
    padding-top: 1.5em;
    padding-bottom: 1.5em;
    font-size: 1.2em
  }

  .ContactForm_inputNamesContainer__N4Kb0 {
    display: flex;
    justify-content: space-between;
    margin-bottom: 1.35em
  }

  .ContactForm_contactFormContainer__OT8Wc>input {
    margin-bottom: 1.15em
  }
}

.PaymentForm_paymentFormContainer__PXDrs {
  width: 92%;
  margin-bottom: 4em;
  font-family: Aeonik;
  color: #61574e
}

.PaymentForm_paymentForm__liVRG {
  width: 100%;
  border-radius: .5em;
  border: 1px solid #d6d4d1
}

.PaymentForm_paymentFormContainer__PXDrs>h2 {
  font-family: Youth;
  color: #61574e;
  letter-spacing: -.04em;
  font-weight: 500;
  font-size: 2.1em;
  margin-bottom: .8em
}

.PaymentForm_creditCardContainer__M8RiZ {
  border-bottom: 1px solid #d6d4d1
}

.PaymentForm_applePayContainer__xa0Jt,
.PaymentForm_creditCardContainer__M8RiZ {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-left: 1em;
  padding-right: 1em;
  min-height: 5.4em
}

.PaymentForm_applePayContainer__xa0Jt {
  border-top: 1px solid #d6d4d1
}

.PaymentForm_creditCardContainer__M8RiZ img {
  height: 2.5em;
  width: auto
}

.PaymentForm_applePayContainer__xa0Jt img {
  height: 2em;
  width: auto
}

.PaymentForm_selectorAndTextContainer__yT4__ {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 1em;
  font-size: 1.45em
}

.PaymentForm_selector__49loG {
  width: 1.2em;
  height: 1.2em;
  min-width: 1.2em;
  border: 1px dashed #61574e;
  border-radius: 100%;
  display: flex;
  align-items: center;
  justify-content: center
}

.PaymentForm_selector__49loG span {
  width: .5em;
  height: .5em;
  border-radius: 100%;
  background-color: #61574e
}

.PaymentForm_creditCardTitle__6uxg6 {
  height: 100%;
  font-size: 1.1em;
  line-height: 120%
}

.PaymentForm_creditCardForm__o7ofT {
  overflow: hidden
}

.PaymentForm_inputsContainer__zuIA5 {
  padding: 1.5em 1em;
  display: flex;
  flex-direction: column;
  overflow: hidden
}

.PaymentForm_inputsContainer__zuIA5 input {
  padding: 1.35em .8em;
  border: 1px solid #d6d4d1;
  border-radius: .5em;
  color: #61574e;
  outline: none;
  font-size: 1.3em;
  margin-bottom: 1.3em;
  width: 100%
}

.PaymentForm_inputsContainer__zuIA5 input::-moz-placeholder {
  color: #61574e
}

.PaymentForm_inputsContainer__zuIA5 input::placeholder {
  color: #61574e
}

.PaymentForm_dateAndCodeInputsContainer__egNaC {
  display: flex;
  justify-content: space-between
}

.PaymentForm_dateAndCodeInputsContainer__egNaC>input {
  width: 48.5%;
  margin-bottom: 0
}

.PaymentForm_cardNumberContainer__KLKep {
  position: relative;
  height: 100%
}

.PaymentForm_cardNumberInputOverlay__hQAUD {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  padding-bottom: 1.35em;
  padding-left: 1em;
  padding-right: 1em;
  z-index: 1;
  pointer-events: none;
  display: flex;
  align-items: center;
  justify-content: space-between
}

.PaymentForm_cardNumberTitle__IjvXn {
  font-size: 1.1em
}

.PaymentForm_cardNumberContainer__KLKep input {
  z-index: 99;
  background-color: transparent;
  color: #00000000;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none
}

.PaymentForm_cardNumberContainer__KLKep input::-moz-selection {
  background-color: transparent
}

.PaymentForm_cardNumberContainer__KLKep input::selection {
  background-color: transparent
}

.PaymentForm_cardNumberContainer__KLKep input:focus {
  caret-color: transparent
}

.PaymentForm_cardNumberInputOverlay__hQAUD>div {
  height: 70%;
  display: flex;
  flex-direction: column;
  justify-content: space-between
}

.PaymentForm_numbersFieldsContainer__U3KQh {
  display: flex;
  justify-content: space-between;
  gap: 1em;
  min-height: 50%
}

.PaymentForm_blinkCaret__8NdyR {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: 0;
  width: 1px;
  height: 70%;
  border-left: 1px solid #000;
  animation: PaymentForm_blink__UWgka 1s step-end infinite
}

.PaymentForm_numbersFieldsContainer__U3KQh>div {
  display: flex;
  justify-content: space-between;
  gap: .35em
}

.PaymentForm_numbersFieldsContainer__U3KQh>div>span {
  border-bottom: 2px solid #d6d4d1;
  font-size: 1.1em;
  display: flex;
  justify-content: center;
  align-items: center;
  width: .8em;
  padding-bottom: .2em;
  position: relative
}

.PaymentForm_cardNumberInputOverlay__hQAUD>svg {
  height: 25%
}

@keyframes PaymentForm_blink__UWgka {

  0%,
  to {
    opacity: 1
  }

  50% {
    opacity: 0
  }
}

@media (min-width:1024px) {
  .PaymentForm_paymentFormContainer__PXDrs {
    width: 90%;
    margin-bottom: 4.8em
  }

  .PaymentForm_paymentFormContainer__PXDrs>h2 {
    margin-bottom: .68em
  }

  .PaymentForm_selector__49loG {
    width: 1em;
    height: 1em;
    min-width: 1em
  }

  .PaymentForm_selector__49loG span {
    width: .4em;
    height: .4em
  }

  .PaymentForm_inputsContainer__zuIA5 {
    padding: 1.35em .9em 0
  }

  .PaymentForm_inputsContainer__zuIA5 input {
    font-size: 1.2em;
    margin-bottom: 1.15em
  }

  .PaymentForm_cardNumberInputOverlay__hQAUD {
    padding-bottom: 1.3em
  }

  .PaymentForm_numbersFieldsContainer__U3KQh>div>span {
    padding-bottom: 0
  }

  .PaymentForm_cardNumberInputOverlay__hQAUD>svg {
    height: 25%
  }
}

.Terms_termsSectionContainer__X4Dc_ {
  width: 92%;
  margin-bottom: 5em
}

.Terms_selectorAndTextContainer__pcrnN {
  display: flex;
  gap: 1em;
  margin-bottom: 1em;
  font-family: Aeonik;
  color: #61574e;
  letter-spacing: -.01em;
  font-size: 1.4em
}

.Terms_selector__cn4aw {
  width: 1.2em;
  height: 1.2em;
  min-width: 1.2em;
  border: 1px dashed #61574e;
  border-radius: 100%;
  display: flex;
  align-items: center;
  justify-content: center
}

.Terms_selector__cn4aw span {
  width: .5em;
  height: .5em;
  border-radius: 100%;
  background-color: #61574e
}

.Terms_selectorText__KNvE4 {
  color: #a39b8b;
  max-width: 90%
}

.Terms_selectorText__KNvE4 a {
  text-decoration: underline;
  text-underline-offset: .2em;
  cursor: pointer
}

@media (min-width:1024px) {
  .Terms_termsSectionContainer__X4Dc_ {
    width: 90%;
    margin-bottom: 3.3em
  }

  .Terms_selectorText__KNvE4 {
    max-width: 100%
  }
}

.PickupPoint_pickupPointContainer__X1LNU {
  margin-bottom: 5.35em
}

.PickupPoint_pickupPointContainer__X1LNU h2 {
  font-family: Youth;
  letter-spacing: -.04em;
  color: #61574e;
  font-weight: 500;
  font-size: 2.1em;
  margin-bottom: .3em
}

.PickupPoint_pickupPointContainer__X1LNU h3 {
  font-family: Aeonik;
  letter-spacing: -.01em;
  color: #a39b8b;
  font-weight: 500;
  font-size: 1.6em;
  margin-bottom: 1em
}

.PickupPoint_mapContainer__5ZRaA {
  width: 100%;
  height: 42em;
  border-radius: .5em;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 50%;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  padding: 1.3em
}

.PickupPoint_infosContainer__QMEFm {
  width: 100%;
  height: 14em;
  background-color: #fdfdfd;
  display: flex;
  border-radius: .5em;
  overflow: hidden
}

.PickupPoint_image__aChr4 {
  min-width: 34.81%;
  height: 14em;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 50%
}

.PickupPoint_infos__VahaE {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1.5em
}

.PickupPoint_infos__VahaE>div {
  font-family: Aeonik;
  letter-spacing: -.01em;
  color: #61574e;
  display: flex;
  font-size: 1.6em;
  align-items: center;
  width: 100%;
  margin-bottom: 1em;
  gap: .45em
}

.PickupPoint_numberCTA__WK34i {
  text-decoration: underline;
  width: 100%;
  margin-bottom: .3em;
  font-family: Aeonik;
  color: #a39b8b;
  font-size: 1.35em;
  text-underline-offset: .2em;
  cursor: pointer
}

.PickupPoint_infos__VahaE svg {
  width: .8em;
  cursor: pointer
}

.PickupPoint_addressCTA__PeIiO {
  font-family: Aeonik;
  color: #a39b8b;
  font-size: 1.3em;
  cursor: pointer
}

@media (min-width:1024px) {
  .PickupPoint_pickupPointContainer__X1LNU {
    margin-bottom: 4.7em
  }

  .PickupPoint_mapContainer__5ZRaA {
    height: 37.2em
  }

  .PickupPoint_infosContainer__QMEFm {
    height: 12.7em
  }

  .PickupPoint_image__aChr4 {
    min-width: 50%;
    height: 12.7em
  }

  .PickupPoint_infos__VahaE>div {
    font-size: 1.4em
  }

  .PickupPoint_numberCTA__WK34i {
    margin-bottom: 0;
    font-size: 1.15em
  }

  .PickupPoint_addressCTA__PeIiO {
    font-size: 1.15em;
    margin-bottom: .9em
  }
}

.Billing_billingSectionContainer__hXUmi {
  display: flex;
  flex-direction: column;
  margin-bottom: 4.8em
}

.Billing_billingSectionContainer__hXUmi h2 {
  font-family: Youth;
  color: #61574e;
  letter-spacing: -.04em;
  font-weight: 500;
  font-size: 2.1em;
  margin-bottom: .5em
}

.Billing_content__2kP1o {
  display: flex;
  flex-direction: column
}

.Billing_inputStateZipCodeContainer__dmnBO {
  display: flex;
  justify-content: space-between;
  margin-bottom: 1em
}

.Billing_inputStateZipCodeContainer__dmnBO input {
  width: 48.5%;
  padding-top: 1.35em;
  padding-bottom: 1.35em
}

.Billing_content__2kP1o>input {
  margin-bottom: .8em;
  padding-top: 1.55em;
  padding-bottom: 1.55em
}

.Billing_billingSectionContainer__hXUmi input {
  padding-left: 1em;
  padding-right: 1em;
  border-radius: .5em;
  border: 1px solid #d6d4d1;
  font-family: Aeonik;
  color: #61574e;
  font-size: 1.3em;
  outline: none
}

.Billing_billingSectionContainer__hXUmi input::-moz-placeholder {
  color: #61574e
}

.Billing_billingSectionContainer__hXUmi input::placeholder {
  color: #61574e
}

@media (min-width:1024px) {
  .Billing_billingSectionContainer__hXUmi>h2 {
    margin-bottom: .68em
  }

  .Billing_billingSectionContainer__hXUmi input {
    padding-top: 1.5em;
    padding-bottom: 1.5em;
    font-size: 1.2em
  }

  .Billing_inputStateZipCodeContainer__dmnBO {
    margin-bottom: 1.35em
  }

  .Billing_content__2kP1o>input {
    margin-bottom: 1.15em
  }
}

.Checkout_checkoutContainer__tvRyd {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 12.5em;
  padding-bottom: 13em;
  position: relative
}

.Checkout_previousButton__JjulB {
  position: absolute;
  width: 6em;
  aspect-ratio: 1/1;
  background-color: #eeedea;
  border-radius: .5em;
  top: 1.5em;
  left: 1.5em;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer
}

.Checkout_previousButton__JjulB svg {
  width: 30%
}

.Checkout_titleContainer__CZwNe {
  width: 92%;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: Youth;
  color: #575349
}

.Checkout_titleContainer__CZwNe h1 {
  letter-spacing: -.05em;
  font-weight: 500;
  font-size: 3.1em;
  margin-bottom: .8em
}

.Checkout_titleContainer__CZwNe svg {
  width: 2.7em;
  margin-bottom: 1em
}

.Checkout_titleContainer__CZwNe div {
  font-family: Aeonik;
  color: #a39b8b;
  display: flex;
  gap: .5em;
  font-size: 1.55em;
  letter-spacing: -.01em
}

.Checkout_titleContainer__CZwNe div a {
  text-decoration: underline;
  text-underline-offset: .2em;
  cursor: pointer
}

.Checkout_overlayContainer__BTLbt {
  font-size: 1.3em
}

@media (max-width:768px) {
  .Checkout_checkoutContainer__tvRyd {
    font-size: .8em
  }
}

@media (max-width:540px) {
  .Checkout_checkoutContainer__tvRyd {
    font-size: .8em
  }
}

@media (max-width:480px) {
  .Checkout_checkoutContainer__tvRyd {
    font-size: .7em
  }
}

@media (max-width:415px) {
  .Checkout_checkoutContainer__tvRyd {
    font-size: .6em
  }
}

@media (max-width:375px) {
  .Checkout_checkoutContainer__tvRyd {
    font-size: .5em
  }
}

@media (max-width:320px) {
  .Checkout_checkoutContainer__tvRyd {
    font-size: .45em
  }
}

@media (min-width:1024px) {
  .Checkout_checkoutContainer__tvRyd {
    position: relative;
    padding-top: 7.9em;
    padding-bottom: 15em;
    min-width: 36.527%;
    width: 36.527%;
    overflow: hidden;
    font-size: .455em
  }

  .Checkout_overlayContainer__BTLbt {
    font-size: 1em
  }

  .Checkout_titleContainer__CZwNe h1 {
    font-size: 3.3em;
    margin-bottom: .65em
  }

  .Checkout_titleContainer__CZwNe div {
    gap: .35em;
    font-size: 1.4em
  }

  .Checkout_titleContainer__CZwNe svg {
    width: 2.4em;
    margin-bottom: 1.2em
  }

  .Checkout_titleContainer__CZwNe {
    margin-bottom: 7.3em
  }
}

@media (min-width:1280px) {
  .Checkout_checkoutContainer__tvRyd {
    font-size: .6em
  }
}

@media (min-width:1440px) {
  .Checkout_checkoutContainer__tvRyd {
    font-size: .67em
  }
}

@media (min-width:1680px) {
  .Checkout_checkoutContainer__tvRyd {
    font-size: .79em
  }
}

@media (min-width:1920px) {
  .Checkout_checkoutContainer__tvRyd {
    font-size: .81em
  }
}

@media (min-width:2500px) {
  .Checkout_checkoutContainer__tvRyd {
    font-size: 1.06em
  }
}

@media (min-width:3200px) {
  .Checkout_checkoutContainer__tvRyd {
    font-size: 1.4em
  }
}

.InfoBlock_root__wCmRT {
  width: 92%;
  border: 1px solid #e6e4e3;
  border-radius: .5em;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-left: 1.3em;
  padding-right: 1.3em;
  margin-bottom: 1.5em;
  min-height: 7.3em
}

@media (min-width:1024px) {
  .InfoBlock_root__wCmRT {
    width: 90%;
    margin-bottom: 1.5em;
    min-height: 6.57em;
    padding-left: 1.8em;
    padding-right: 1.8em
  }
}

.InfoBlock_inner__MiMVs {
  font-family: Youth;
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-size: 1.55em;
  letter-spacing: -.02em
}

@media (min-width:1024px) {
  .InfoBlock_inner__MiMVs {
    font-size: 1.4em
  }
}

.InfoBlock_label__eX8dG {
  color: #a39b8b
}

.InfoBlock_value__u9wEH {
  color: #61574e
}

.InfoBlock_cta__Jhg9F {
  font-family: Aeonik;
  border: 1px solid #e4e3e2;
  border-radius: 100%;
  width: 1.8em;
  height: 1.8em;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer
}

.InfoBlock_subtext__sAV6o {
  color: #a39b8b
}

.PaymentEstimator_root__Tyw7E {
  width: 100%;
  display: grid;
  gap: 6.5%;
  padding: 3.25%
}

@media (min-width:1024px) {
  .PaymentEstimator_root__Tyw7E {
    grid-template-columns: 1fr 1fr
  }
}

.PaymentEstimator_title__v4QQS {
  font-family: Youth;
  font-weight: 500;
  letter-spacing: -.05em;
  color: #61574e;
  margin-bottom: .8em;
  font-size: 2.7em;
  width: 100%;
  text-align: center
}

@media (min-width:1024px) {
  .PaymentEstimator_title__v4QQS {
    font-size: 2.35em;
    margin-block-end: .6em;
    text-align: left
  }
}

.PaymentEstimator_typeSelector__tU7MP {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(0, 1fr));
  gap: 10px
}

.PaymentEstimator_radioButton___Mly6 {
  padding: 2em;
  text-align: center;
  border-radius: .5em;
  font-weight: 400;
  text-transform: uppercase;
  font-family: FTPolarMono, monospace;
  border: 1px solid #d6d4d1;
  letter-spacing: .05em;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: .5em;
  background-color: #f2f1ef;
  color: #a9a39e
}

.PaymentEstimator_radioButton___Mly6[data-checked] {
  background-color: #a39b8b;
  color: #fdfdfd
}

.PaymentEstimator_fullPrice__ixuLp {
  margin-block: 6em;
  display: flex;
  flex-direction: column;
  align-items: center
}

.PaymentEstimator_fullPriceTitle__xx1x2 {
  font-family: Aeonik, sans-serif;
  font-weight: 400;
  letter-spacing: .01em;
  color: #575349;
  font-size: 1.4em
}

.PaymentEstimator_summary__RdL09 {
  background-color: #efede9;
  padding-block-start: 2.9em;
  padding-block-end: 3.2em;
  padding-inline: 4%;
  border-radius: 1em
}

.PaymentEstimator_summaryRows__PUcdm {
  display: grid;
  gap: 1.27em
}

.PaymentEstimator_summaryRow__QGR2y {
  display: flex;
  gap: 10px;
  justify-content: space-between;
  font-family: Aeonik, sans-serif;
  color: #61574e;
  letter-spacing: -.01em;
  font-size: 1.35em
}

.PaymentEstimator_summary__RdL09 hr {
  margin-block: 2.5em;
  border-color: #e1ded8
}

.PaymentEstimator_summaryText__8kxP_ {
  display: grid;
  gap: 1.7em;
  font-size: 1.35em;
  letter-spacing: .01em;
  font-weight: 400;
  font-family: Aeonik, sans-serif;
  color: #a39b8b
}

.PaymentEstimator_right__94Xb1 {
  display: grid;
  gap: 3.15em
}

.PaymentEstimator_terms__MamnA {
  color: #a39b8b;
  font-family: Aeonik, sans-serif;
  font-size: 1.05em;
  display: grid;
  gap: 1.8em;
  letter-spacing: -.02em;
  line-height: 1.5
}

.PaymentEstimator_label__X8CW6 {
  font-family: Aeonik;
  color: #61574e;
  letter-spacing: -.01em;
  font-size: 1.35em
}

.PaymentEstimator_image__IiPDo {
  border-radius: .5em
}

.PaymentEstimator_bigPrice__2i4iS {
  color: #575349;
  font-family: Youth;
  font-size: 3.3em;
  font-weight: 500;
  letter-spacing: -.05em
}

.PaymentEstimator_info__Asvvm {
  display: flex;
  justify-content: center;
  gap: .5em;
  color: #575349;
  font-family: Aeonik, sans-serif
}

.PaymentEstimator_info__Asvvm p {
  font-size: 1.4em
}

.PaymentEstimator_info__Asvvm span {
  width: 1.8em;
  height: 1.8em;
  flex-shrink: 0;
  border: 1px solid #d8d6d0;
  border-radius: 100%;
  display: flex;
  align-items: center;
  justify-content: center
}

.PaymentEstimator_prequalify__2gsBu {
  padding: 2em;
  text-align: center;
  border-radius: .5em;
  font-weight: 400;
  text-transform: uppercase;
  font-family: FTPolarMono, monospace;
  border: 1px solid #d6d4d1;
  letter-spacing: .05em;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: .5em;
  background-color: #a39b8b;
  color: #fdfdfd
}