.StrapiRichText_root__LUiYo a {
  text-decoration: underline
}

.StrapiRichText_root__LUiYo ol,
.StrapiRichText_root__LUiYo ul {
  list-style-position: outside
}

.StrapiRichText_root__LUiYo ul {
  list-style-type: disc
}

.StrapiRichText_root__LUiYo ol {
  list-style-type: decimal
}

.StrapiRichText_root__LUiYo h1,
.StrapiRichText_root__LUiYo h2,
.StrapiRichText_root__LUiYo h3,
.StrapiRichText_root__LUiYo h4,
.StrapiRichText_root__LUiYo h5,
.StrapiRichText_root__LUiYo h6 {
  font-weight: 700;
  line-height: 1.1
}

.StrapiRichText_root__LUiYo h1 {
  font-size: 3em;
  font-weight: 700
}

.StrapiRichText_root__LUiYo h2 {
  font-size: 2.5em
}

.StrapiRichText_root__LUiYo h3 {
  font-size: 2em
}

.StrapiRichText_root__LUiYo h4 {
  font-size: 1.7em
}

.StrapiRichText_root__LUiYo h5 {
  font-size: 1.4em
}

.StrapiRichText_root__LUiYo h6 {
  font-size: 1.2em
}

.faqsOverlay_FAQsOverlayContainer__9URBc {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center
}

.faqsOverlay_closureButton__2j8t1 {
  position: absolute;
  width: 4.7em;
  aspect-ratio: 1/1;
  left: .85em;
  top: .85em;
  border-radius: .4em;
  background-color: #efede9;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer
}

.faqsOverlay_closureButton__2j8t1 svg {
  width: 30%
}

.faqsOverlay_title___McXm {
  width: 63%;
  font-family: Youth;
  font-size: 2.55em;
  font-weight: 500;
  letter-spacing: -.05em;
  color: #575349;
  text-align: center;
  margin-top: 3.9em;
  line-height: 105%;
  text-wrap: balance
}

.faqsOverlay_filtersContainer__WvhWY {
  gap: 1.85em;
  display: flex;
  width: 100%;
  padding-left: 1.7em;
  padding-right: 1.7em;
  overflow-x: auto;
  scrollbar-width: none;
  -ms-overflow-style: none;
  margin-bottom: 2.6em;
  min-height: 3em
}

.faqsOverlay_filtersContainer__WvhWY::-webkit-scrollbar {
  display: none
}

.faqsOverlay_filtersContainer__WvhWY button {
  font-weight: 400;
  letter-spacing: -.01em;
  display: flex;
  flex-shrink: 0;
  font-family: Aeonik Fono;
  text-transform: uppercase;
  font-size: 1em
}

.faqsOverlay_questionsContainer__mG_kG {
  width: 93.6%;
  padding-bottom: 4em
}

.faqsOverlay_questionContainer__CLjca {
  width: 100%;
  border-bottom: 1px solid #dddbda;
  padding-top: 2.7em;
  padding-bottom: 2.7em;
  cursor: pointer
}

.faqsOverlay_questionContent__X7R1N {
  overflow: hidden;
  color: #a39b8b;
  font-family: Aeonik;
  letter-spacing: -.01em;
  font-size: 1.01em;
  width: 95%;
  display: grid;
  gap: 1.5em
}

.faqsOverlay_fixedContent__F_dTi {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: #61574e;
  font-family: Aeonik;
  letter-spacing: -.01em
}

.faqsOverlay_fixedContent__F_dTi h4 {
  font-size: 1.08em
}

.faqsOverlay_fixedContent__F_dTi div {
  display: flex;
  align-items: center;
  justify-content: center
}

.faqsOverlay_fixedContent__F_dTi div span {
  position: absolute;
  width: .6em;
  border-bottom: 1.5px solid #61574e
}

.faqsOverlay_fixedContent__F_dTi div span:first-child {
  transform: rotate(90deg)
}

@media (min-width:1024px) {
  .faqsOverlay_closureButton__2j8t1 {
    display: none
  }

  .faqsOverlay_title___McXm {
    width: 51.77%;
    font-size: 3.54em;
    margin-top: 0;
    line-height: 95%
  }

  .faqsOverlay_content__iJIRb {
    width: 70.92%
  }

  .faqsOverlay_filtersContainer__WvhWY {
    width: 70.92%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    row-gap: 1em;
    overflow-x: hidden;
    padding-left: 0;
    padding-right: 0;
    min-height: -moz-min-content;
    min-height: min-content;
    margin-bottom: 5em;
    font-size: 1em
  }

  .faqsOverlay_filtersContainer__WvhWY button {
    width: 100%;
    justify-content: center;
    text-align: center
  }

  .faqsOverlay_questionsContainer__mG_kG {
    width: 70.92%;
    padding-bottom: calc(4em + 6.66vh)
  }

  .faqsOverlay_questionContainer__CLjca {
    padding-top: 2.62em;
    padding-bottom: 2.62em
  }

  .faqsOverlay_questionContent__X7R1N {
    font-size: 1.08em;
    width: 80%
  }

  .faqsOverlay_fixedContent__F_dTi h4 {
    font-size: 1.24em
  }

  .faqsOverlay_fixedContent__F_dTi div {
    position: relative
  }
}

.separateLine_separateLine__XZlUb span {
  position: absolute;
  width: .5em;
  aspect-ratio: 1/.15
}

.separateLine_separateLine__XZlUb span:first-child {
  transform: rotate(90deg)
}

.separateLine_separateLine__XZlUb {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative
}