.contact_customerPortal__n_Wtj {
  z-index: 99;
  position: relative
}

.contact_contactContainer__FR_b7 {
  background-color: #fdfdfd;
  min-height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 8.75vh
}

.contact_imageContainer__RBkIF {
  height: 22.85em;
  width: 100%;
  padding-top: .3em;
  padding-left: .3em;
  padding-right: .3em;
  margin-bottom: 3.9em
}

.contact_imageContainer__RBkIF img {
  height: 100%;
  width: 100%;
  -o-object-fit: cover;
  object-fit: cover;
  border-radius: .5em
}

.contact_homeButton__XUGgt {
  width: 4.65em;
  top: .7em;
  left: .7em;
  aspect-ratio: 1/1;
  position: absolute;
  z-index: 99;
  background-color: #fdfdfd;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: .5em;
  cursor: pointer
}

.contact_homeButton__XUGgt svg {
  width: 33%
}

.contact_title__BBhce {
  font-family: Youth;
  font-size: 2.45em;
  color: #575349;
  font-weight: 500;
  margin-bottom: 1.7em;
  letter-spacing: -.03em
}

.contact_department__QvR_8 {
  display: grid;
  gap: .55em;
  width: 92%;
  margin-bottom: 4.45em
}

.contact_department__QvR_8 h2 {
  font-family: Youth;
  color: #575349;
  letter-spacing: -.04em;
  font-size: 1.65em
}

.contact_departmentInfos__w5Ti6 {
  display: grid;
  font-family: Aeonik;
  font-weight: 400;
  font-size: 1.23em;
  line-height: 130%;
  color: #575349
}

.contact_departmentInfos__w5Ti6 a {
  color: #a39b8b
}

.contact_plainButton__kvFr0 {
  font-family: Aeonik;
  font-weight: 400;
  font-size: 1.23em;
  line-height: 135%;
  color: #a39b8b;
  text-decoration: underline;
  text-underline-offset: .28em
}

.contact_solidButton__aymBA {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 47.7%;
  text-transform: uppercase;
  background-color: #d7d1c6;
  border-radius: .5em;
  font-family: Aeonik Fono;
  letter-spacing: .05em;
  gap: .5em;
  padding-top: 1.57em;
  padding-bottom: 1.57em
}

.contact_solidButton__aymBA svg {
  width: .55em
}

.contact_solidButton__aymBA span {
  font-size: .82em;
  color: #575349
}

.contact_sectionContactContainer__Bzyyk {
  display: flex;
  flex-direction: column;
  width: 92%;
  margin-bottom: 4.45em
}

.contact_sectionContactContainer__Bzyyk h2 {
  font-family: Youth;
  color: #575349;
  letter-spacing: -.04em;
  font-size: 1.65em;
  margin-bottom: .55em
}

.contact_sectionContactContainer__Bzyyk span {
  font-family: Aeonik;
  font-weight: 400;
  font-size: 1.23em;
  line-height: 130%;
  color: #575349
}

.contact_sectionContactContainer__Bzyyk a {
  font-family: Aeonik;
  font-weight: 400;
  font-size: 1.23em;
  line-height: 130%;
  color: #a39b8b
}

.contact_requestTourContainer__Zcq0z {
  width: 92%;
  display: flex;
  align-items: center;
  gap: .8em;
  text-decoration: underline;
  text-underline-offset: .18em;
  text-transform: uppercase;
  font-family: Aeonik Fono;
  color: #575349;
  margin-bottom: 4.45em;
  margin-top: .5em
}

.contact_requestTourContainer__Zcq0z svg {
  width: 1.7rem
}

.contact_careersSectionContainer___SPK2 {
  display: flex;
  flex-direction: column;
  width: 92%;
  margin-bottom: 4.45em
}

.contact_careersSectionContainer___SPK2 h2 {
  font-family: Youth;
  color: #575349;
  letter-spacing: -.04em;
  font-size: 1.58em;
  margin-bottom: .15em
}

.contact_careersSectionContainer___SPK2 a {
  font-family: Aeonik;
  font-weight: 400;
  font-size: 1.23em;
  line-height: 135%;
  color: #a39b8b;
  text-decoration: underline;
  text-underline-offset: .28em
}

.contact_mediaAndPressContainer__zhQqS {
  display: flex;
  flex-direction: column;
  width: 92%;
  margin-bottom: 4.45em
}

.contact_mediaAndPressContainer__zhQqS h2 {
  font-family: Youth;
  color: #575349;
  letter-spacing: -.04em;
  font-size: 1.58em;
  margin-bottom: .15em
}

.contact_mediaAndPressContainer__zhQqS>a {
  font-family: Aeonik;
  font-weight: 400;
  font-size: 1.23em;
  line-height: 135%;
  color: #a39b8b;
  margin-bottom: 1.3em
}

.contact_mediaAndPressContainer__zhQqS .contact_cta__winZV {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 47.7%;
  text-transform: uppercase;
  background-color: #d7d1c6;
  border-radius: .5em;
  font-family: Aeonik Fono;
  letter-spacing: .05em;
  gap: .5em;
  padding-top: 1.57em;
  padding-bottom: 1.57em
}

.contact_mediaAndPressContainer__zhQqS .contact_cta__winZV svg {
  width: .55em
}

.contact_mediaAndPressContainer__zhQqS .contact_cta__winZV span {
  font-size: .82em;
  color: #575349
}

.contact_businessPartnersContainer__uUbpv {
  display: flex;
  flex-direction: column;
  width: 92%;
  margin-bottom: 2.7em
}

.contact_businessPartnersContainer__uUbpv h2 {
  font-family: Youth;
  color: #575349;
  letter-spacing: -.04em;
  font-size: 1.58em;
  margin-bottom: .15em
}

.contact_businessPartnersContainer__uUbpv>a {
  font-family: Aeonik;
  font-weight: 400;
  font-size: 1.23em;
  line-height: 135%;
  color: #a39b8b;
  margin-bottom: 1.3em
}

.contact_socialMediaContainer__mRmNr {
  display: flex;
  justify-content: space-between;
  text-transform: uppercase;
  font-family: Aeonik Fono
}

.contact_socialMediaContainer__mRmNr>a {
  color: #a39b8b;
  font-size: .85em;
  cursor: pointer
}

.contact_contactContainer__FR_b7 .contact_sectionContactContainer__Bzyyk:last-of-type {
  margin-bottom: 2.5em
}

.contact_homeButtonDesktop__L4YNl {
  display: none
}

@media (min-width:1024px) {
  .contact_customerPortal__n_Wtj {
    height: 100vh;
    width: 100%;
    display: flex;
    justify-content: flex-end;
    padding: .85em;
    background-color: #eeece8;
    overflow: hidden;
    align-items: center;
    font-size: 1em
  }

  .contact_desktopImage__iZgY4 {
    width: 48.958vw;
    height: 97.77%;
    -o-object-fit: cover;
    object-fit: cover;
    position: fixed;
    left: .85em;
    border-radius: .9em
  }

  .contact_contactContainer__FR_b7 {
    width: 48.958vw;
    height: 97.77vh;
    min-height: 97.77vh;
    overflow-y: auto;
    scrollbar-width: none;
    -ms-overflow-style: none;
    border-radius: .9em;
    padding-top: 6.55em
  }

  .contact_contactContainer__FR_b7::-webkit-scrollbar {
    display: none
  }

  .contact_imageContainer__RBkIF {
    display: none
  }

  .contact_homeButtonDesktop__L4YNl {
    width: 4.65em;
    top: 1.5em;
    left: 1.5em;
    position: fixed;
    aspect-ratio: 1/1;
    z-index: 99;
    background-color: #fdfdfd;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: .5em;
    cursor: pointer
  }

  .contact_homeButtonDesktop__L4YNl svg {
    width: 33%
  }

  .contact_title__BBhce {
    font-size: 3.5em;
    margin-bottom: .9em
  }

  .contact_department__QvR_8 {
    width: 70.92%;
    margin-bottom: 2.55em
  }

  .contact_department__QvR_8 h2 {
    font-size: 1.67em
  }

  .contact_departmentInfos__w5Ti6 {
    font-size: 1.23em
  }

  .contact_plainButton__kvFr0 {
    font-family: Aeonik;
    font-weight: 400;
    font-size: 1.23em;
    line-height: 135%;
    color: #a39b8b;
    text-decoration: underline;
    text-underline-offset: .28em
  }

  .contact_sectionContactContainer__Bzyyk {
    width: 70.92%;
    margin-bottom: 2.55em
  }

  .contact_sectionContactContainer__Bzyyk h2 {
    font-size: 1.67em
  }

  .contact_sectionContactContainer__Bzyyk a,
  .contact_sectionContactContainer__Bzyyk span {
    font-size: 1.23em
  }

  .contact_requestTourContainer__Zcq0z {
    width: 70.92%;
    gap: .55em;
    margin-bottom: 2.4em;
    margin-top: .25em;
    font-size: 1.05em
  }

  .contact_requestTourContainer__Zcq0z svg {
    width: 1.2em
  }

  .contact_careersSectionContainer___SPK2 a {
    font-family: Aeonik;
    font-weight: 400;
    font-size: 1.23em;
    line-height: 135%;
    color: #a39b8b;
    text-decoration: underline;
    text-underline-offset: .28em
  }

  .contact_careersSectionContainer___SPK2 {
    width: 70.92%;
    margin-bottom: 2.4em
  }

  .contact_careersSectionContainer___SPK2 h2 {
    font-size: 1.66em;
    margin-bottom: .12em
  }

  .contact_mediaAndPressContainer__zhQqS {
    width: 70.92%;
    margin-bottom: 2.55em
  }

  .contact_mediaAndPressContainer__zhQqS h2 {
    font-size: 1.66em;
    margin-bottom: 0
  }

  .contact_mediaAndPressContainer__zhQqS>a {
    margin-bottom: 1.1em
  }

  .contact_mediaAndPressContainer__zhQqS a {
    width: 32.91%
  }

  .contact_businessPartnersContainer__uUbpv {
    width: 70.92%;
    margin-bottom: 2.7em
  }

  .contact_businessPartnersContainer__uUbpv h2 {
    font-size: 1.64em
  }

  .contact_businessPartnersContainer__uUbpv a {
    margin-bottom: 0
  }

  .contact_socialMediaContainer__mRmNr {
    width: 69.2%
  }

  .contact_socialMediaContainer__mRmNr>a {
    font-size: .85em
  }
}

@media (min-width:1900px) {
  .contact_customerPortal__n_Wtj {
    font-size: .9em
  }
}

@media (min-width:768px) {
  .contact_customerPortal__n_Wtj {
    font-size: 1.1em
  }
}

@media (max-width:350px) {
  .contact_customerPortal__n_Wtj {
    font-size: .9em
  }
}

.separateLine_separateLine__XZlUb span {
  position: absolute;
  width: .5em;
  aspect-ratio: 1/.15
}

.separateLine_separateLine__XZlUb span:first-child {
  transform: rotate(90deg)
}

.separateLine_separateLine__XZlUb {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative
}

.customerPortalContactForm_contactFormContainer__lBfid {
  width: 92%;
  display: flex;
  flex-direction: column;
  margin-bottom: 4.6em
}

.customerPortalContactForm_contactFormContainer__lBfid h2 {
  font-family: Youth;
  color: #61574e;
  font-weight: 500;
  letter-spacing: -.04em;
  font-size: 1.67em;
  margin-bottom: .58em
}

.customerPortalContactForm_formContainer__Xh1Q7 {
  width: 100%;
  display: flex;
  flex-direction: column;
  background-color: #eeece8;
  border-radius: .5em;
  padding: 1.6em 1.3em
}

.customerPortalContactForm_requiredText__wl83I {
  display: flex;
  flex-direction: column;
  margin-bottom: 2.2em;
  color: red
}

.customerPortalContactForm_inputContainer__8TiXQ {
  display: flex;
  flex-direction: column;
  margin-bottom: 1.65em
}

.customerPortalContactForm_inputContainer__8TiXQ label {
  font-family: Aeonik;
  text-transform: uppercase;
  color: #61574e;
  letter-spacing: -.01em;
  font-size: .83em;
  margin-bottom: .65em
}

.customerPortalContactForm_formContainer__Xh1Q7 .customerPortalContactForm_inputContainer__8TiXQ textarea,
.customerPortalContactForm_inputContainer__8TiXQ input {
  padding: .96em .8em;
  border-radius: .5em;
  border: 1px solid #d6d4d1;
  font-family: Aeonik;
  color: #a39b8b;
  font-size: 1.05em;
  outline: none;
  letter-spacing: .02em;
  background-color: #eeece8
}

.customerPortalContactForm_formContainer__Xh1Q7 .customerPortalContactForm_inputContainer__8TiXQ textarea {
  min-height: 11.8em
}

.customerPortalContactForm_formContainer__Xh1Q7 .customerPortalContactForm_inputContainer__8TiXQ textarea::-moz-placeholder {
  color: #a39b8b
}

.customerPortalContactForm_formContainer__Xh1Q7 .customerPortalContactForm_inputContainer__8TiXQ textarea::placeholder {
  color: #a39b8b
}

.customerPortalContactForm_inputContainer__8TiXQ input::-moz-placeholder {
  color: #a39b8b
}

.customerPortalContactForm_inputContainer__8TiXQ input::placeholder {
  color: #a39b8b
}

.customerPortalContactForm_selectBox__XRSNw {
  position: relative;
  width: 100%;
  padding-top: 1em;
  padding-bottom: 1em;
  border: 1px solid #d6d4d1;
  border-radius: .5em;
  display: flex;
  flex-direction: column;
  justify-content: center
}

.customerPortalContactForm_selectInput__p7wHk {
  background-color: #eeece7;
  color: #a39b8b;
  font-family: Aeonik;
  font-size: 1.05em;
  border: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  padding-left: 3%
}

.customerPortalContactForm_selectInput__p7wHk:focus {
  border: none;
  outline: none
}

.customerPortalContactForm_arrow__R4Jh0 {
  position: absolute;
  right: 3%;
  width: .7em
}

.customerPortalContactForm_checkBoxContainer__F91jG {
  display: flex;
  gap: .75em;
  font-family: Aeonik;
  margin-bottom: 2.35em;
  position: relative
}

.customerPortalContactForm_checkBoxContainer__F91jG svg {
  min-width: 1.4em;
  min-height: 1.4em;
  width: 1.4em;
  height: 1.4em
}

.customerPortalContactForm_checkBoxContainer__F91jG>label {
  font-size: .82em
}

.customerPortalContactForm_formContainer__Xh1Q7 button {
  background-color: #a39b8b;
  font-family: FTPolarMono;
  text-transform: uppercase;
  letter-spacing: .05em;
  color: #fff;
  font-weight: 400;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  padding-top: 2.08em;
  padding-bottom: 2.08em;
  border-radius: .5em;
  font-size: .8em;
  margin-top: 1.05em
}

.customerPortalContactForm_formContainer__Xh1Q7 button[disabled] {
  opacity: .2
}

@media (min-width:1024px) {
  .customerPortalContactForm_contactFormContainer__lBfid {
    width: 70.92%;
    border: 1px solid #cdcbc8;
    border-radius: .5em
  }

  .customerPortalContactForm_formContainer__Xh1Q7 h3 {
    font-family: Youth;
    color: #61574e;
    font-weight: 500;
    letter-spacing: -.04em;
    font-size: 1.67em;
    margin-bottom: 1.2em
  }

  .customerPortalContactForm_formContainer__Xh1Q7 {
    background-color: #fdfdfd;
    padding: 2.2em 1.95em 2.35em
  }

  .customerPortalContactForm_inputContainer__8TiXQ span {
    margin-bottom: 1em
  }

  .customerPortalContactForm_inputContainer__8TiXQ input {
    font-size: 1.25em;
    background-color: #fdfdfd;
    margin-bottom: .85em;
    padding-left: .7em;
    padding-right: .7em
  }

  .customerPortalContactForm_formContainer__Xh1Q7 .customerPortalContactForm_inputContainer__8TiXQ textarea {
    background-color: #fdfdfd;
    font-size: 1.2em
  }

  .customerPortalContactForm_selectBox__XRSNw {
    padding-top: 1.28em;
    padding-bottom: 1.28em;
    margin-bottom: .85em
  }

  .customerPortalContactForm_selectInput__p7wHk {
    background-color: #fdfdfd;
    font-size: 1.25em;
    padding-left: .7em
  }

  .customerPortalContactForm_checkBoxContainer__F91jG {
    gap: .75em;
    margin-bottom: 2.35em
  }

  .customerPortalContactForm_checkBoxContainer__F91jG>label {
    font-size: 1.2em
  }

  .customerPortalContactForm_formContainer__Xh1Q7 button {
    width: 12.15vw;
    padding-top: 2.08em;
    padding-bottom: 2.08em;
    font-size: .8em;
    margin-top: 2.25em
  }
}

.checkbox_checkBox__7Bvv0 {
  -moz-appearance: none;
  appearance: none;
  -webkit-appearance: none;
  min-width: 1.4em;
  min-height: 1.4em;
  width: 1.4em;
  height: 1.4em;
  z-index: 1;
  cursor: pointer;
  position: relative
}

.checkbox_checkBox__7Bvv0:checked:after {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  width: .68em;
  height: .68em;
  background-color: var(--checkbox-color);
  border-radius: 50%;
  transform: translate(-50%, -50%)
}

.checkbox_svg__UctMZ {
  position: absolute;
  left: 0;
  top: 0
}

.StrapiRichText_root__LUiYo a {
  text-decoration: underline
}

.StrapiRichText_root__LUiYo ol,
.StrapiRichText_root__LUiYo ul {
  list-style-position: outside
}

.StrapiRichText_root__LUiYo ul {
  list-style-type: disc
}

.StrapiRichText_root__LUiYo ol {
  list-style-type: decimal
}

.StrapiRichText_root__LUiYo h1,
.StrapiRichText_root__LUiYo h2,
.StrapiRichText_root__LUiYo h3,
.StrapiRichText_root__LUiYo h4,
.StrapiRichText_root__LUiYo h5,
.StrapiRichText_root__LUiYo h6 {
  font-weight: 700;
  line-height: 1.1
}

.StrapiRichText_root__LUiYo h1 {
  font-size: 3em;
  font-weight: 700
}

.StrapiRichText_root__LUiYo h2 {
  font-size: 2.5em
}

.StrapiRichText_root__LUiYo h3 {
  font-size: 2em
}

.StrapiRichText_root__LUiYo h4 {
  font-size: 1.7em
}

.StrapiRichText_root__LUiYo h5 {
  font-size: 1.4em
}

.StrapiRichText_root__LUiYo h6 {
  font-size: 1.2em
}